

// Color

$darkGray: #333;
$greenMain: #C0F5CD;
$greenDark: #73A881;
$greenLight: #E1FFE9;
$redBean: #A86266;
$meat: #F5C0C3;

$textLinkColor: #78B9FF;



// Font

$baseFontFamily: Trebuchet MS, Helvetica, Arial, sans-serif;



$zindex-cover: 5;
$zindex-stream-container: 20;
$zindex-introduction: 10;
$zindex-postlist: 30;


