

// Color

$darkGray: #333;
$greenMain: #C0F5CD;
$greenDark: #73A881;
$greenLight: #E3EBE7;
$redBean: #5C3D38;
$meat: #F5C0C3;

$textLinkColor: #2A63B2;



// Font

$baseFontFamily: Trebuchet MS, Helvetica, Arial, sans-serif;



$zindex-cover: 5;
$zindex-stream-container: 20;
$zindex-introduction: 10;
$zindex-postlist: 30;


