$sliderNavSize: 50px;
$sliderNavTriangleSizeY: 30px;
$sliderNavTriangleSizeX: 15px;


.module-slider {
    background: $darkGray;

    .owl-prev,
    .owl-next {
        @include transition-property(all);
        @include transition-duration(0.2s);
        @include border-radius(50%);
        @include hide-text;
        @include opacity(0.5);
        background: #fff;
        width: $sliderNavSize;
        height: $sliderNavSize;
        top: 50%;
        margin-top: -20px;
        position: absolute;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -$sliderNavTriangleSizeY/2;
        }

        &:hover {
            @include opacity(1);
        }
    }
    .owl-prev {
        left: 20px;
        &:after {
            @include triangle($greenDark, $sliderNavTriangleSizeY, $sliderNavTriangleSizeX, 270);
            right: 50%;
            margin-right: -4px;
        }
    }
    .owl-next {
        right: 20px;
        &:after {
            @include triangle($greenDark, $sliderNavTriangleSizeY, $sliderNavTriangleSizeX, 90);
            left: 50%;
            margin-left: -4px;
        }
    }

    .owl-pagination {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
    }

}

.module-slider__list {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}


.module-slider__image {
    display: block;
    width: 100%;
}



@include breakpoint(0 1023px) {
    .module-slider {
        margin-bottom: 20px;
    }
}

@include breakpoint(1024px) {
    .module-slider {
        margin-bottom: 25px;
    }
}






