
%container {
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    @extend %container;
}

.site-content {
    position: relative;
    z-index: 5;
}


