

.site-header {
    background: #eee;
    position: relative;
    z-index: 10;

}

.site-header__link {
    @include inline-block;
    color: $textLinkColor;
}


.site-logo {
    text-align: center;
}
.site-logo__link {
    @include inline-block;
    vertical-align: middle;
}
.site-logo__img {
    display: block;
    width: 100%;
}

@include breakpoint($breakpointMobile) {
    .site-header {
        position: relative;
        height: 56px;
    }

    .site-logo {
        margin-left: 62px;
        margin-right: 62px;
    }
    

}

@include breakpoint(0 ($ipadLandscape - 1px)) {
    .site-header {
        @include pie-clearfix;
    }
    .site-logo__link {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 42px;
    }
    .site-logo {
        margin-left: 62px;
        margin-right: 62px;
        height: 100%;

        &:before {
            @include inline-block;
            content: "";
            width: 1px;
            height: 100%;
            margin-left: -1px;
            vertical-align: middle;
        }
    }
}

@include breakpoint($breakpointDesktop) {
    .site-logo {
        padding: 15px 0;
    }
}




